{% extends "base.html" %}

{% block title %} {{ data.title }} {% endblock %}

{% block main %}
<div class="container pt-5" style="min-height: 100vh; position: relative; padding-bottom: 120px;">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <article class="text-content text-center">
            <div class="mb-4">
                Welcome to your clean writing space. <br>
                A personal invitation to clarity and composure. <br>
            </div>
            <div>
                <a href="/write" class="btn btn-outline-secondary">start writing</a>
            </div>
        </article>
    </div>

    <div class="description position-fixed start-0 w-100 bg-white"
         style="z-index:1040; bottom: 80px;">
        <div class="container py-2">
            <p class="text-muted text-center my-2 mb-0">
                Flowrite is a minimalist write space without distractions. free 
                <a href="/register">register</a> to save in shelf. 
            </p>
        </div>
    </div>
</div>
{% endblock %}